<div class="text-center-responsive mx-1">
  <h1>Import</h1>

  <button mat-raised-button color="primary" (click)="jsonImportInput.click()">
    <mat-icon>upload</mat-icon>
    Import Contacts From JSON File
  </button>
</div>
<input hidden (change)="onImportJsonFileInput($event)" #jsonImportInput type="file">

<br>
<mat-divider />

<div class="text-center-responsive mx-1">
  <h1>Export</h1>

  <button mat-raised-button color="primary" (click)="onExportJson()">
    <mat-icon>download_offline</mat-icon>
    Export Contacts To JSON File
  </button>
</div>
