mat-drawer-container {
  height: 100vh;
}

a[mat-item-list] {
  display: flex;
  align-items: center;
}

mat-toolbar {
  position: fixed;
  top: 0;
  /* left: 0; */
  box-sizing: border-box;
  z-index: 10;

  /* Future: */
  /* width: 100%; */
  /* Temp: */
  width: 320px;
}

mat-drawer-container {
  margin-top: 64px;
}
