<div class="mx-1">
  @if (!editMode) {
    <div class="subtitle">
      <div>Created {{task.date_created | dateFns}}</div>
      <div>Updated {{task.date_modified | dateFns}}</div>
    </div>

    <div class="text-center-responsive">
      <h2>
        {{task.title || 'Loading...'}}
        <span class="desktop-fab">
          <button mat-mini-fab color="primary" (click)="editMode = true">
            <mat-icon>edit</mat-icon>
          </button>
        </span>
      </h2>
    </div>

    @if (task.contact_id) {
      <div>
        <span class="subtitle">Contact:&nbsp;</span>
        <a [routerLink]="['/contact-detail', task.contact_id]">{{task.contact_name}}</a>
      </div>
    }

    @if (task.due_date) {
      <div>
        <span class="subtitle">Due date:&nbsp;</span>
        {{task.due_date | dateFns:'P'}}
      </div>
    }

    @if (task.notes) {
      <br>
      <div class="subtitle">Notes:</div>
      <div [innerHTML]="(task.notes || '') | lineBreak"></div>
    }

    <br>
    <button mat-stroked-button color="warn" (click)="deleteTask()">
      <mat-icon>delete</mat-icon>
      Delete Task
    </button>

    <div class="bottom-fab-mobile-absolute right">
      <div class="bottom-fab-mobile-fixed">
        <button mat-fab color="primary" (click)="editMode = true">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>

  } @else {
    <div class="text-center">
      <h2>Edit Task</h2>
    </div>

    <app-task-form [existingTask]="task" />

    <div class="desktop-fab">
      <br>
      <div>
        <button mat-mini-fab color="none" (click)="editMode = false">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span>&nbsp;</span>
        <button mat-fab color="primary" (click)="onSave()">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>

    <div class="bottom-fab-mobile-absolute left">
      <div class="bottom-fab-mobile-fixed">
        <button mat-mini-fab color="none" (click)="editMode = false">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </div>

    <div class="bottom-fab-mobile-absolute right">
      <div class="bottom-fab-mobile-fixed">
        <button mat-fab color="primary" (click)="onSave()">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  }
</div>
