<div class="mx-1">
  <div class="text-center-responsive">
    <h1>Add Task</h1>
  </div>

  <app-task-form #taskForm />

  <div class="fab-desktop">
    <br>
    <button mat-fab color="primary" [disabled]="taskForm.form.invalid" (click)="onSubmit()">
      <mat-icon>assignment_add</mat-icon>
    </button>
  </div>
</div>

<div class="bottom-fab-mobile-absolute right">
  <div class="bottom-fab-mobile-fixed">
    <button mat-fab color="primary" [disabled]="taskForm.form.invalid" (click)="onSubmit()">
      <mat-icon>assignment_add</mat-icon>
    </button>
  </div>
</div>
